@font-face {
    font-family: MyriadPro-Regular;
    src: url("../res/fonts/MyriadPro-Regular.otf");
}

@font-face {
    font-family: MyriadPro-Semibold;
    src: url("../res/fonts/MyriadPro-Semibold.otf");
}

body {
    background: #fbfbfb;
}

.page {
    min-height: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 32px;
    padding-bottom: 0px;
}

header {
    height: 85px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}


/*Логотип*/

.logo img {
    width: 100%;
    height: auto;
}

.logo {
    width: 160px;
    margin-right: 16%;
}


/*Поиск*/

.search_wrapper {
    position: relative;
    margin-right: 25px;
    flex-grow: 1;
}

.search_wrapper input[type="text"] {
    position: relative;
}

.search_wrapper input {
    font-family: 'FontAwesome';
    width: 420px;
    padding: 16px 10px;
    border: 1px solid #ededed;
}

.search_wrapper input::-webkit-input-placeholder {
    color: #ededed;
    font-size: 15px;
}

.search_wrapper span {
    position: absolute;
    top: 11px;
    right: 15px;
    font-size: 25px;
    color: #ededed;
}


/*Авторизация*/

.sign_up_wrapper {
    background: #fff;
    border: 1px solid #ededed;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 45px;
}

span.sign_up_span {
    color: #999;
    font-size: 18px;
}

p.sign_up_p {
    font-family: MyriadPro-Regular;
    font-size: 15px;
    color: #999;
}

.sign_up {
    border-right-width: 0px;
    padding: 6px 20px 2px 30px;
}

.sign_up p {
    margin: 0px;
    margin-left: -18px;
}

.dash {
    background: #eaeaea;
    width: 1px;
    height: 25px;
    margin: 12px 0px;
}

.login {
    border-left-width: 0px;
    padding-top: 5px;
    padding-right: 23px;
}

.login span {
    margin-left: 27px;
}

.login p {
    margin: 0px;
    margin-left: 16px;
}


/*Меню*/

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

nav .item {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 12.5%;
}

nav .item span {
    color: #777;
    margin: 0px 5px;
}

nav .item .yellow {
    color: #fdcc05;
}


/*.home_column {
    display: flex;
    justify-content: center;
    flex-direction: column;
}*/


/*nav div div p {
    font-family: MyriadPro-Semibold;
    font-size: 16px;
}*/

.nav_dash {
    background: #777;
    height: 5px;
    flex-grow: 1;
    align-self: center;
}

footer {
    flex: 0 0 100px;
}

.main {
    flex: 1 0 auto;
}