@font-face {
    font-family: MyriadPro-Regular;
    src: url("../res/fonts/MyriadPro-Regular.otf");
}

@font-face {
    font-family: MyriadPro-Semibold;
    src: url("../res/fonts/MyriadPro-Semibold.otf");
}

@font-face {
    font-family: Arial-Regular;
    src: url("../res/fonts/ArialRegular.ttf");
}

body {
    background: #fbfbfb;
}

.page {
    min-height: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 32px;
    padding-bottom: 0px;
}

header {
    height: 85px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}


/*Логотип*/

.logo img {
    width: 100%;
    height: auto;
}

.logo {
    width: 160px;
    margin-right: 16%;
}


/*Поиск*/

.search_wrapper {
    position: relative;
    margin-right: 25px;
    flex-grow: 1;
}

.search_wrapper input[type="text"] {
    position: relative;
}

.search_wrapper input {
    font-family: 'FontAwesome';
    width: 420px;
    padding: 16px 10px;
    border: 1px solid #ededed;
}

.search_wrapper input::-webkit-input-placeholder {
    color: #ededed;
    font-size: 15px;
}

.search_wrapper span {
    position: absolute;
    top: 11px;
    right: 15px;
    font-size: 25px;
    color: #ededed;
}


/*Авторизация*/

.sign_up_wrapper {
    background: #fff;
    border: 1px solid #ededed;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 45px;
}

span.sign_up_span {
    color: #999;
    font-size: 18px;
}

p.sign_up_p {
    font-family: MyriadPro-Regular;
    font-size: 15px;
    color: #999;
}

.sign_up {
    border-right-width: 0px;
    padding: 6px 20px 2px 30px;
}

.sign_up p {
    margin: 0px;
    margin-left: -18px;
}

.dash {
    background: #eaeaea;
    width: 1px;
    height: 25px;
    margin: 12px 0px;
}

.login {
    border-left-width: 0px;
    padding-top: 5px;
    padding-right: 23px;
}

.login span {
    margin-left: 27px;
}

.login p {
    margin: 0px;
    margin-left: 16px;
}


/*Меню*/

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.item {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.item_icon {
    display: flex;
    align-self: stretch;
    margin-bottom: 10px;
}

.item_icon span {
    color: #777;
    margin: 0px 5px;
}

.item .yellow {
    color: #fdcc05;
}

.item label {
    font-family: MyriadPro-Semibold;
    font-size: 16px;
}

.nav_dash {
    background: #777;
    height: 5px;
    flex-grow: 1;
    align-self: center;
}

footer {
    flex: 0 0 100px;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100%;
}

.left {
    flex: 3;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.submenu {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 100%;
}

.submenu_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #fff;
    flex: 1;
    min-width: 69px;
    height: 68px;
    margin-bottom: 5px;
    margin-right: 5%;
    border: 1px solid #ededed;
}

.submenu_item .text {
    font-family: MyriadPro-Regular;
    font-size: 12px;
    color: #555;
}

.submenu_item span {
    color: #555;
    font-size: 26px;
}

.submenu_item:first-of-type {
    background: #555;
}

.submenu_item:first-of-type .text,
.submenu_item:first-of-type span {
    color: #fff;
}

.main_slider {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0 3%;
}


/*Main filter*/

.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.filter div {
    background: #fff;
    flex: 1;
    max-width: 15%;
    height: 28px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 5px;
    border: 1px solid #ededed;
    font-family: Arial-Regular;
    font-size: 12px;
    color: #555;
}

.filter div:first-of-type {
    background: #555;
    color: #fff;
}


/*Slider*/

.slider {
    flex: 1;
    width: 100%;
}

.slider img {
    width: 100%;
    height: auto;
    position: relative;
}

.slider_caption {
    position: absolute;
    background: #fff;
    margin: -50px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 48.6%;
}

.slider_caption_text {
    flex: 10;
    padding: 5px;
    padding-left: 3%;
    border: 1px solid #ededed;
}

.slider_caption_text h4 {
    margin: auto;
    font-family: MyriadPro-Semibold;
}

.slider_caption_text p {
    margin: auto;
    font-family: MyriadPro-Regular;
    font-size: 12px;
}

.slider_caption_pause {
    flex: 1;
    background: #fff;
    border: 1px solid #ededed;
    border-left: none;
}

.pause {
    display: flex;
    justify-content: center;
    height: 35%;
    margin: 15px 10px;
}

.pause div {
    background: #555;
    width: 13%;
}

.pause .white {
    background: #fff;
}

.reports {
    flex: 1;
}

.right {
    flex: 1;
}

.popular_news {
    flex: 1;
    background: #fff;
    border: 1px solid #ededed;
}